<div class="container">
    <section id="home">
        <div class="row mx-auto mt-4">
            <div class="col-sm-6 align-self-center">
                <h1 class="hero-heading">Amplify your
                    blockchain team</h1>
                <p class="hero-sub-heading">Mobile, <b>Blockchain</b> , AR/VR Development</p>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/Creative writing-pana.svg" class="hero-image" alt="">
            </div>
        </div>
    </section>

    <section id="services">
        <!-- <div class="row">
            <div class="col-sm-3 partners-odd"><span>X</span></div>
            <div class="col-sm-3 partners-even"><span>Y</span></div>
            <div class="col-sm-3 partners-odd"><span>Z</span></div>
            <div class="col-sm-3 partners-even"><span>W</span></div>
        </div> -->
        <div class="row mx-auto">
            <div class="col-sm-4 align-self-center">
                <h3 class="text-center">Services</h3>
            </div>
            <div class="col-sm-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eligendi consequuntur repellendus
                    tempora a beatae minima similique minus aspernatur rem dolorem odio commodi numquam, ea laborum vero
                    dolore hic excepturi?</p>
            </div>
        </div>
        <div class="row mx-auto mt-5">
            <div class="col-sm-4 align-self-center">
                <h1 class="text-center">23</h1>
            </div>
            <div class="col-sm-8 px-0">
                <div class="row mx-auto">
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, natus iste. Quae nam ullam
                            quia ab dolorum vel recusandae unde quidem, excepturi, nemo culpa reprehenderit labore
                            cupiditate maiores delectus veritatis.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, natus iste. Quae nam ullam
                            quia ab dolorum vel recusandae unde quidem, excepturi, nemo culpa reprehenderit labore
                            cupiditate maiores delectus veritatis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto mt-5">
            <div class="col-sm-4 align-self-center">
                <!-- <h1 class="text-center">23</h1> -->
                <img style="width: 100%; height: 100%;" src="../../../assets/Customer relationship management-bro.svg" alt="">

            </div>
            <div class="col-sm-8 px-0">
                <div class="row mx-auto">
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, natus iste. Quae nam ullam
                            quia ab dolorum vel recusandae unde quidem, excepturi, nemo culpa reprehenderit labore
                            cupiditate maiores delectus veritatis.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, natus iste. Quae nam ullam
                            quia ab dolorum vel recusandae unde quidem, excepturi, nemo culpa reprehenderit labore
                            cupiditate maiores delectus veritatis.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, natus iste. Quae nam ullam
                            quia ab dolorum vel recusandae unde quidem, excepturi, nemo culpa reprehenderit labore
                            cupiditate maiores delectus veritatis.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, natus iste. Quae nam ullam
                            quia ab dolorum vel recusandae unde quidem, excepturi, nemo culpa reprehenderit labore
                            cupiditate maiores delectus veritatis.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, natus iste. Quae nam ullam
                            quia ab dolorum vel recusandae unde quidem, excepturi, nemo culpa reprehenderit labore
                            cupiditate maiores delectus veritatis.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section id="contact">
        <div _ngcontent-mbt-c3="" id="contact-us" class="mt-5 pt-4">
            <h2 _ngcontent-mbt-c3="">Contact <span _ngcontent-mbt-c3="" style="color: #21a8ae;">Us</span></h2>
            <h5 _ngcontent-mbt-c3=""><b _ngcontent-mbt-c3="" style="font-weight: 700;">Mr. Shubh Borkar</b></h5><b
                _ngcontent-mbt-c3="" style="color: #084758 !important;">Director</b><br _ngcontent-mbt-c3=""><b
                _ngcontent-mbt-c3="" style="color: #53545d !important;">Email:</b>&nbsp;&nbsp;<a _ngcontent-mbt-c3=""
                href="mailto:sales@qservetechsolutions.in"
                style="text-decoration: none; color: #21a8ae;">sales@qservetechsolutions.in</a><br
                _ngcontent-mbt-c3=""><b _ngcontent-mbt-c3="" style="color: #53545d !important;">Phone:</b>&nbsp;&nbsp;<a
                _ngcontent-mbt-c3="" href="tel:+919561910889" style="text-decoration: none; color: #21a8ae;">+91
                9561910889</a><br _ngcontent-mbt-c3=""><b _ngcontent-mbt-c3="" style="color: #53545d;">Address:</b><span
                _ngcontent-mbt-c3=""> 204, Sneh-Symphony, Laxman Nagar, Opp/ Vyoms Labs Pvt. Ltd., Balewadi Road,
                Balewadi, Pune - 411045</span>
        </div>
    </section>
</div>