<nav id="nav-bar" #navBar class="navbar navbar-expand-lg navbar-transparent fixed-top bg-transppatent">
    <div class="container">
        <a class="navbar-brand text-light" href="#" >
            <img src="../../../assets/Teal.png" class="site-logo" alt=""> Teal <span style="color: #60b1b6">Creativity</span> 
        </a>
        <button (click)="collapse($event)" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <!-- <span class="span-1"></span>
            <span class="span-2"></span>
            <span class="span-3"></span> -->
            <img src="../../../assets/Group 2601.png" style="width: 2rem;" alt="">
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarTogglerDemo01">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li [routerLinkActive]="['active']" class="nav-item me-4">
                    <a class="nav-link " aria-current="page" [routerLink]="['Home']" href="#">Home</a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['Services']" href="#">Services</a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['Services']" href="#">About Us</a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['Services']" href="#">Blogs</a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['Services']" href="#">Careers</a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item me-4">
                    <a class="nav-link" [routerLink]="['Services']" href="#">Contact Us</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>