/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
}


.fa-2x {
    font-size: 1.5rem !important;
}

body {
    --text-color: #222;
    --bkg-color: #fff;
    --btn-txt-color: white;
    --btn-bg-color: rgb(11, 88, 160);
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 211, 195);
}

body {
    background: #000;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bg-dark{
    background-color: #000 !important;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #60b1b6;
}